* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-image: url('header.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li .button {
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 20px;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-content h3 {
    font-size: 18px;
    font-weight: 300;
}

.hero-content h2 {
    font-size: 48px;
    font-weight: bold;
}

.learn-more-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #36a5d4;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.intro-section {
    text-align: center;
    padding: 60px 20px;
    background-color: #f4f4f4;
}

.intro-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.intro-section p {
    font-size: 16px;
    color: #666;
    max-width: 800px;
    margin: auto;
}

.content-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
}

.card {
    background-color: white;
    text-align: center;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(14, 21, 23, 0.782);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin-top: 20px;
    font-size: 20px;
    color: #115156;
}

.card p {
    color: #050e0eb7;
    margin-top: 10px;
    font-size: 14px;
}

footer {
    background-color: #080f11ca;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 5px;
    font-size: 14px;
}
